@import "../../../styles/global.scss";

.mainContent {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.mainContent {
  display: grid;
  grid-template-rows: repeat(max-content, 1fr);
}

.contentCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.courseContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  gap: 1rem;
}

.events {}

.eventContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: auto;

}