@import "../../styles/global.scss";

.contentWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background-color: #f0f0f0;

   .contentContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      gap: 2rem;
      background-color: $light-primary-background;
      box-shadow: #d3d3d3 0 0 5px;
      border-radius: $default-radius;
   }
}

.sealContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 0.7rem;

   .title {
      margin: 0;
      font-size: 1.7rem;
   }

   img {
      width: 120px;
   }

   .head {
      text-align: center;
   }
}

.formContainer {
   width: 25rem;

   .buttonContainer {
      display: grid;
      gap: 0.5rem;

      button {
         padding: 0.8rem;
         width: 100%;
      }
   }
}

.ctaAnchor {
   text-align: center;
   margin-bottom: 2.5rem;
}
