@import "../../styles/global.scss";

.timetable {
  border: 1px solid $light-gray-color-100;
  border-radius: $small-radius;
}

.tableGrid {
  display: grid;
  grid-template-columns: 100px repeat(6, 1fr);
  border-radius: $small-radius;
  margin-bottom: 1rem;
  gap: 1rem 7px;

  .header {
    display: grid;
    grid-template-columns: 100px repeat(6, 1fr);
    
    grid-column: span 7;
    text-align: center;
    border-bottom: 1px solid $light-gray-color-100;
    border-radius: $small-radius $small-radius 0 0;
    text-transform: uppercase;
    font-size: small;
    font-weight: 600;
    padding: 10px 0;
  }

  .body {
    position: relative;
    display: grid;
    grid-template-columns: 100px repeat(6, 1fr);
    grid-template-rows: repeat(auto-fill , 40px);
    grid-column: span 7;
    gap: 0 7px;
  }
}

.timeSlot {
  display: grid;
  grid-template-columns: 100px repeat(6, 1fr);
  grid-template-rows: repeat(auto-fill , 40px);
  gap: 7px;
  grid-column: span 7;

  .time {
    font-weight: 600;
    text-align: center;
    font-size: small;
  }

  .schedContainer {
    position: relative;
  }

  .sched {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: $small-radius;
    border: 1px solid #f0e09b;
    background-color: #fef6b9;
    padding: 10px;
    width: 100%;
    z-index: 5;

    .info {
      font-size: small;

      .instructor {
        opacity: 0.6;
      }
    }
  }
}


// idk to implement this yet
.yellowSched {
  border: 1px solid $light-yellow-color-300;
  background-color: $light-yellow-color-100;
}

.redSched {
  border: 1px solid $red-color-400;
  background-color: $red-color-100;
}

.greenSched {
  border: 1px solid $light-green-color-300;
  background-color: $light-green-color-100;
}
