@import "../../styles/global.scss";

.table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

.toolsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tableHeader,
.tableItem {
  display: grid;
  grid-template-columns: 30% 1fr 1fr 1fr;
  align-items: center;
  justify-items: start;
}

.tableHeader {
  background-color: $light-green-color-300;
  color: $light-primary-background;
  border-radius: $small-radius;
  padding: 0.5rem 1rem;
}

.tableItem {
  padding: 1rem;

  &:hover {
    background-color: $light-gray-color-100;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;

  .iconBtn {
    cursor: pointer;
    margin: 0 1rem;
    color: $light-gray-color-400;
    user-select: none;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: $small-radius;
    background-color: transparent;
    color: $light-gray-color-600;
    transition: 300ms $trans-smooth;

    &.active {
      background-color: $light-gray-color-100;
    }

    &:hover {
      background-color: $light-gray-color-100;
    }
  }
}
