@import "../../styles/global.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;

  .content {
    display: flex;
    flex-direction: column;
    background-color: $light-primary-background;
    border: 1px solid $light-gray-color;
    padding: 2rem;

    .head {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;

      img {
        width: 10rem;
      }

      .title {
        font-size: 2.7rem;
        margin: 1.5rem 0;
      }

      .desc {
        width: 60ch;
      }
    }

    .formContainer {
      display: grid;
      
      label {
        display: inline-block;
        margin-bottom: 0.5rem;
      }

      .primaryBtn {
        justify-self: end;
      }
    }
  }
}

.responseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;

  .content {
    display: flex;
    flex-direction: column;
    background-color: $light-primary-background;
    border: 1px solid $light-gray-color;
    padding: 2rem;
    width: 30vw;
    gap: 1rem;

    h2 {
      font-size: 1.7rem;
    }

    p {
      margin: 0.5rem 0;
    }

    button {
      width: 100%;
    }
  }
}
