@import "../../styles/global.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;

  .content {
    display: grid;
    background-color: $light-primary-background;
    border: 1px solid $light-gray-color;
    border-radius: $default-radius;
    width: 40rem;
    padding: 2rem;
    gap: 2rem;

    .head {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      img {
        position: absolute;
        bottom: 4rem;
        align-self: end;
        width: 8rem;
      }

      .title {
        font-size: 2.5rem;
        font-weight: 800;
      }

      .desc {
        line-height: 1.4rem;
        max-width: 60ch;
      }

    }

    form {
      display: grid;
      width: 100%;
      gap: 1.5rem;
    }

    .buttonContainer {
      justify-self: end;
      align-items: center;
      gap: 1rem;
    }
  }
}
