@import "../../styles/global.scss";

.mainContent {
  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .editContainer {
    height: 100%;
  }

  .active {
    border-color: $light-green-color-300;
    background-color: $light-green-color-300;
    color: $light-primary-background;
  }
}
.sideContent {
  .title {
    margin-bottom: 5px;
  }

  .requestsContent {
    display: grid;
    align-content: start;
    gap: 1rem;
    height: 100%;

    .requestsContainer {
      display: grid;
      gap: 1rem;

      .requestItem {
        display: flex;
        gap: 10px;
      }
    }
  }

  .guidelinesContent {
    display: grid;
    gap: 1rem;

    .guidelinesContainer {
      display: grid;
      gap: 1rem;

      .guidelineItem {
        display: flex;
        gap: 10px;
      }
    }
  }
}

.tableWrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid $light-gray-color-100;
  border-radius: $small-radius;
  overflow: auto;

  .tableHeader,
  .tableItem {
    display: grid;
  }

  .gradeHeader {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    gap: 0 1.5rem;
  }

  .tableHeader {
    padding: 0.5rem 0.8rem;
    background-color: $table-header;
    border-bottom: 1px solid $light-gray-color-100;
    overflow: auto;
  }

  .tableItem {
    align-items: center;
    padding: 0.8rem;
    overflow: auto;
  }
}

.popupWrapper {
  display: grid;
  width: 45rem;
  gap: 1rem;
  padding: 1rem;

  .studentInfo {
    display: flex;
    justify-content: space-between;
  }

  .gradeItem {
    input {
      text-align: center;
      outline: none;
      border-radius: $small-radius;
      border: 1px solid $light-gray-color;
      max-width: 50px;
      padding: 5px;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .buttonContainer {
    margin-top: 1rem;
    justify-self: end;
  }
}
