@import "../../../../styles/global.scss";

.contentDivider {
  grid-template-columns: 27% 1fr;
  height: 100%;

  .mainContent {
    overflow: auto;
  }
}

.courseCard {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 100px;
  align-items: center;
  padding: 0.8rem 1rem;
  gap: 1rem;
  border-radius: $small-radius;
  border: 1px solid transparent;
  transition: 300ms $trans-fast;

  .courseInfo {
    .title {
      font-size: 1rem;
      font-weight: 600;
    }
  }

  .badge {
    justify-self: center;
  }

  &:hover {
    background-color: $light-gray-color-100;
  }

  &.selected {
    border: 1px solid $light-yellow-color-300;
    background-color: $light-yellow-color-100;

    .badge {
      border: 1px solid $light-yellow-color-300;
    }
  }
}

.courseView {
  height: 100%;
}

.courseView,
.courseContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  display: grid;
  gap: 1rem;

  .title {
    margin: 0;
  }
}

.table .line {
  margin: 10px 0;
}

.tableHeader,
.tableItem {
  display: grid;
  grid-template-columns: 35% 20% 1fr;
  justify-items: center;
  align-items: center;

  .gradeHeader {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    justify-items: center;
    gap: 35px;
    flex: 1;
  }
}

.tableContent {
  display: grid;
}

.tableItem {
  padding: 0.5rem;

  h3 {
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
  }
}
