@import "../../../../styles/global.scss";

.line {
   background-color: $light-gray-color;
}

.overviewContainer {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 0.7rem;

   .overviewCard {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: end;
      border: 1px solid $light-gray-color;
      border-radius: $small-radius;
      padding: 1.5rem;
      gap: 1rem;
      transition: 300ms $trans-fast;

      .cta {
         display: grid;
         grid-template-columns: 70% 1fr;
         align-items: flex-start;
         width: 100%;
      }

      p {
         color: $light-gray-color-600;
      }

      &:hover {
         background-color: $white-hovered;
      }

      .enrollmentContainer {
         flex-direction: column;
         justify-content: start;
         flex: 1;
      }

      .flexContainer {
         display: flex;
         align-items: start;
         gap: 1.25rem;

         .iconBtn {
            background-color: $light-green-color-300;
            color: $light-primary-background;
            padding: 0.8rem;
         }

         h2 {
            font-size: 1.6rem;
         }
      }
   }
}
