@import "../../../../../../styles/global.scss";

.line {
   background-color: $light-gray-color;
}

.table {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.header,
.contentItem {
   display: grid;
   grid-template-columns: 1fr 1fr 2fr 1.5fr 1fr 1fr;
   align-items: center;
   justify-items: center;
}

.header {
   text-transform: uppercase;
   color: $light-primary-text;
   background-color: $table-header;
   border-radius: $small-radius;
   padding: 0.5rem;

   .headerLabel {
      font-weight: 700;
      font-size: 0.75rem;
   }
}

.content {
   display: flex;
   flex-direction: column;

   .contentItem {
      font-size: 0.85rem;
      border-bottom: 1px solid $light-gray-color;
      padding: 0.9rem;
   }
}
