@import "../../../styles/global.scss";

.formItem {
  height: 100%;

  .selectContainer {
    position: relative;
    width: 100%;
  }

  .selectBox {
    user-select: none;
    width: 100%;
    border-radius: 0.4rem;
    border: 1px solid $light-gray-color;
    background-color: #fff;
    font-size: 0.8rem;
    color: gray;
    cursor: pointer;
  }

  .optionsContainer {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1;
    transform: scale(97%);
    visibility: hidden;
    opacity: 0;
    transition: 200ms $trans-fast;

    &.show {
      opacity: 1;
      transform: scale(100%);
      visibility: visible;
    }
  }

  .option {
    cursor: pointer;
    font-size: 0.8rem;
    color: $light-primary-text;
    font-weight: 500;
    background-color: #fff;
    visibility: hidden;
    transition: 200ms $trans-fast;

    &.show {
      transform: scale(100%);
      visibility: visible;
    }

    &:hover {
      background-color: $light-gray-color-100;
    }

    &.selected {
      color: $light-primary-background;
      background-color: $light-green-color-300;
    }
  }

  .errorMsg {
    font-size: smaller;
    font-style: italic;
    color: #c92f2f;
  }
}
