@use "../variables.scss";

.deleteBtn {
  color: #e22828;

  &:hover {
    background-color: $white-hovered;
  }
}

.ctaBtn {
  &:hover {
    color: $black-hovered;
    background-color: $white-hovered;
  }
}

.primaryBtn {
  border: 1px solid transparent;
  border-radius: $small-radius;
  color: $light-primary-background;
  background-color: $light-green-color-300;
}

.secondaryBtn {
  border: 1px solid $light-gray-color-200;
  border-radius: $small-radius;
  color: $light-primary-text;
}

.redBtn {
  color: $light-primary-background;
  background-color: $light-tertiary-color;
  border-radius: $small-radius;
}

.circleBtn {
  margin-top: 2px;
  padding: 5px 5px 2px 5px;
  border-radius: 50%;
  border: 1px solid $light-gray-color-400;
  color: $light-primary-text;

  &:hover {
    background-color: $white-hovered;
    color: $black-hovered;
  }
}

.switchButton {
  display: flex;
  gap: 0.5rem;
  font-size: 0.85rem;
}

.iconBtn,
.iconCta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  border-radius: $small-radius;
}
