@import "../../../../../../styles/global.scss";

.coursesContainer {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 1rem;

   .courseCard {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: white;
      border: 1px solid $light-gray-color;
      border-radius: $small-radius;
      padding: 1rem;
      gap: 1rem;
      transition: 300ms $trans-fast;

      .courseTitle {
         display: flex;
         justify-content: space-between;
         gap: 1rem;

         .badge {
            font-size: 0.8rem;
         }
      }

      .courseInfo {
         display: grid;
         grid-template-rows: repeat(2, max-content);
         grid-template-columns: repeat(2, 1fr);

         .line {
            grid-row-start: 1;
            grid-column-start: span 2;
            margin-bottom: 1rem;
         }

         .courseDetails {
            opacity: 0.5;
            font-size: 0.8rem;
         }
      }

      &:hover {
         border: 1px solid $light-gray-color-400;
      }

      &.selected {
         background-color: $light-green-color-100;
         border-color: $light-green-color-300;

         .badge {
            border-color: $light-green-color-300;
         }

         .line {
            background-color: $light-green-color-300;
         }
      }

      &.selectedElective {
         background-color: $light-yellow-color-100;
         border-color: $light-secondary-color;

         .badge {
            border-color: $light-secondary-color;
         }

         .line {
            background-color: $light-secondary-color;
         }
      }
   }
}