@import "../../styles/global.scss";

.pagination {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.2rem;

   .iconBtn {
      cursor: pointer;
      margin: 0 1rem;
      color: $light-gray-color-400;
      user-select: none;
   }

   button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      border-radius: $small-radius;
      background-color: transparent;
      color: $light-gray-color-600;
      transition: 300ms $trans-smooth;

      &.active {
         background-color: $light-gray-color-100;
      }

      &:hover {
         background-color: $light-gray-color-100;
      }
   }
}
