@import "../../styles/global.scss";

.contentWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background-color: #f0f0f0;
  overflow: hidden;


   .contentContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;
      gap: 1rem;
      background-color: $light-primary-background;
      box-shadow: #d3d3d3 0 0 5px;
      border-radius: $default-radius;
   }
}

.sealContainer {
   display: flex;
   align-items: center;
   gap: 1rem;

   img {
      width: 100px;
   }

   .title {
      font-size: 1.7rem;
      text-transform: uppercase;
      margin: 0;
   }
}

.formWrapper {
   display: grid;
   gap: 1rem;

   .title {
      margin-bottom: 1rem;
   }

   .buttonContainer {
      display: flex;
      align-items: center;
      justify-self: end;
      gap: 1rem;
   }
}
